{{- if ne .os "windows" -}}

[".oh-my-zsh/custom/plugins/zsh-aws-vault"]
    type = "archive"
    url = "https://github.com/blimmer/zsh-aws-vault/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    exclude = [
        ".editorconfig"
    ]

{{- end -}}
