{{- if ne .chezmoi.os "windows" -}}

[".oh-my-zsh/custom/plugins/zsh-aws-vault"]
    type = "archive"
    url = "https://github.com/blimmer/zsh-aws-vault/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    exclude = [
        ".editorconfig"
    ]

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents=1
    refreshPeriod="720h"

{{- end -}}
