{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $osLike := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "idLike")) -}}
{{-   $osLike = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

[data]
  {{- if (hasKey .chezmoi.kernel "osrelease") }}
    iswsl = {{ contains "microsoft" .chezmoi.kernel.osrelease }}
  {{- else }}
    iswsl = false
  {{- end}}
    osid = {{ $osID | quote }}
    oslike = {{ $osLike | quote }}
