{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $osLike := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "idLike")) -}}
{{-   $osLike = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

{{- $iswork := promptBoolOnce . "iswork" "Is this a work machine?" -}}
{{- $opPersonal := promptStringOnce . "opPersonal" "1Password personal account email" -}}
{{- $opWork := "" -}}
{{- if $iswork -}}
{{-   $opWork = promptStringOnce . "opWork" "1Password work account email" -}}
{{- end -}}

[data]
  {{- if (hasKey .chezmoi.kernel "osrelease") }}
    iswsl = {{ contains "microsoft" .chezmoi.kernel.osrelease }}
  {{- else }}
    iswsl = false
  {{- end}}
    osid = {{ $osID | quote }}
    oslike = {{ $osLike | quote }}
    iswork = {{ $iswork }}
    opPersonal = {{ $opPersonal | quote }}
    opWork = {{ $opWork | quote }}

[git]
    autoCommit = true
    autoPush = true

{{- if eq .chezmoi.os "windows" }}
[merge]
    command = "powershell"
    args = [
        "-NoProfile",
        "-Command",
        "Copy-Item '{{ "{{" }} .Target {{ "}}" }}' '{{ "{{" }} .Target {{ "}}" }}.base'; code --new-window --wait --merge '{{ "{{" }} .Destination {{ "}}" }}' '{{ "{{" }} .Target {{ "}}" }}' '{{ "{{" }} .Target {{ "}}" }}.base' '{{ "{{" }} .Source {{ "}}" }}'",
    ]
{{- else }}
[merge]
    command = "zsh"
    args = [
        "-c",
        "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}",
    ]
{{- end }}
