{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $osLike := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "idLike")) -}}
{{-   $osLike = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

{{- $isWSL := false -}}
{{- if (hasKey .chezmoi.kernel "osrelease") -}}
{{- $isWSL := (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- end -}}

[data]
    iswsl = {{ $isWSL }}
    osid = {{ $osID | quote }}
    oslike = {{ $osLike | quote }}
