[alias]
	dlog = -c diff.external=difft log --ext-diff
	dshow = -c diff.external=difft show --ext-diff
	ddiff = -c diff.external=difft diff

[branch]
	sort = -committerdate

[column]
	ui = auto

[commit]
	gpgsign = true

[core]
{{- if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
	autocrlf = false
	editor = code --wait --reuse-window

[credential "https://git.andrewburgess.io"]
	provider = generic

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[diff "lfs"]
	textconv = cat

[fetch]
	prune = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[gpg]
	format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "windows" }}
	program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
{{- else if eq .chezmoi.os "linux" }}
    {{- if .iswsl }}
	program = "/mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl"
    {{- else }}
	program = "/opt/1Password/op-ssh-sign"
    {{- end }}
{{- else if eq .chezmoi.os "darwin" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}

[help]
	autocorrect = prompt

[init]
	defaultBranch = main

[merge]
	conflictStyle = diff3

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = simple

[rebase]
	updateRefs = true

[rerere]
	autoupdate = true
	enabled = true

[safe]
	directory = %(prefix)///oracle/Stacks/

[sequence]
	editor = code --wait --reuse-window

[tag]
	sort = version:refname

[user]
	name = Andrew Burgess
	email = andrew@andrewburgess.io
	signingkey = {{ onepasswordRead "op://Personal/SSH Key/public key"}}
