Host git-ssh.andrewburgess.io
{{- if eq .chezmoi.os "windows" }}
	ProxyCommand C:\bin\cloudflared access ssh --hostname %h
{{- else }}
	ProxyCommand cloudflared access ssh --hostname %h
{{- end}}

{{- if eq .chezmoi.os "linux"}}
Host *
	IdentityAgent ~/.1password/agent.sock
{{- else if eq .chezmoi.os "darwin"}}
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
