[default]
region=us-west-2
cli_pager=

[profile andrewb]
mfa_serial=arn:aws:iam::{{ onepasswordRead "op://Employee/Amazon AWS/account id" .opWork }}:mfa/andrewb
{{if ne .chezmoi.os "windows" -}}
mfa_process=op item get "Amazon AWS" --otp
{{end -}}
