#!/bin/bash

set -eufo pipefail

# Ensure zsh exists
if ! command -v zsh &> /dev/null; then
    echo "zsh not found. Please install zsh and re-run this script."
    exit 1
fi

# Ensure we can use chsh
if ! command -v chsh &> /dev/null; then
    echo "chsh not found. Please change your shell another way."
    exit 0
fi

# Change the shell
chsh -s $(command -v zsh)
